
/* MAIN */

main {
    width: 50%;
    min-height: 90vh;
    margin: auto;
    display: flex;
    justify-content: start;
    flex-direction: column;

    gap: 30px;
}

main h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

.filtros {
    color: white;
    gap: 5px
}

.filtros input {

    border: none;
    border-radius: 4px;
    padding: 10px;

}

.sonhos {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sonho {
    width: 100%;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    border-radius: 10px ;

    & > h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }


    &::after {
        content: "01/01/2024";
        position: absolute;
        left: -20px;
        top: -20px;
        padding: 10px;
        background-color: rgb(5, 126, 156);
        color: white;
    }

    &::before {
        content: "alegria, medo, nostalgia";
        position: absolute;
        right: 30px;
        top: -20px;
        padding: 10px;
        background-color: rgb(98, 98, 139);
        color: white;
    }
}

.acoes {
    gap: 4px;
    display: flex;
    flex-direction: row;
}

.btn-acao {
    padding: 5px;
    background-color: transparent;

    border-radius: 50%;
    border: 1px solid white;
}


/* RESPONSIVIDADE */

@media (max-width: 1100px) {
 
   .sonhos {
        width: 90%;
   }
}

@media (max-width: 900px) {
    main {
        align-items: center;
        width: 90%;
      }

    .filtros {
        align-self: flex-start;
    }

  
}

@media (max-width: 768px) {

    .acoes {
        gap: 4px;
        display: flex;
        flex-direction: column;
    }
  
}

@media (max-width: 480px) {
   
}
