{% load static %}



<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles_cadastro.css' %}">
    <title>Dream Diary</title>

    <style>
        .bg {
            background-image: url("{% static 'dreamdiary/imgs/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <section class="bg">
        <section class="container">
            <form method="POST">
                {% csrf_token %}
                
                <label>
                    <span>Usuário</span>
                    <input type="text" name="username" required>
                </label>
            
                <label>
                    <span>Email</span>
                    <input type="email" name="email" required>
                </label>
            
                <label>
                    <span>Senha</span>
                    <input type="password" name="password" required>
                </label>

                <button type="submit">Cadastrar</button>

                <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
            </form>
            
            
            
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            

        </section>
    
        <script src="../scripts/script.js"></script>
      
    </section>
</body>
</html>