{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles_dream.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="{% static 'dreamdiary/scripts/script.js' %}"></script>
    <title>Dream Diary</title>

    <style>
        .bg {
            background-image: url("{% static 'dreamdiary/imgs/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <section class="bg">
        {% include 'partials/header.html' %}
        
        <main>

            <h1>{{ sonho.title }}</h1>

            <ul class="emocoes">
                {% for dream_emotion in sonho.dream_emotions.all %}
                    <!-- Usando a categoria da emoção para definir a classe -->
                    <li class="{{ dream_emotion.emotion.category|lower }}">
                        {{ dream_emotion.emotion.name }}
                    </li>
                {% empty %}
                    <li>Sem emoções registradas</li>
                {% endfor %}
            </ul>

            <p class="descricao-sonho">{{ sonho.description }}</p>

            <section class="section-interpretacao">
                <h2>Interpretação</h2>
                <div class="radio-container">
                    <label class="radio-label">
                        <input type="radio" name="modo" value="mitico">
                        Mítico 🔮
                    </label>
                    <label class="radio-label">
                        <input type="radio" name="modo" value="formal">
                        Formal 📜
                    </label>
                </div>
                <button>Gerar Interpretação</button>
            </section>

        </main>
    </section>

    {% include 'partials/footer.html' %}
</body>
</html>
