{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles_home.css' %}">
    <script defer src="{% static 'dreamdiary/scripts/script.js' %}"></script>
    <title>Dream Diary</title>

    <style>
        .bg {
            background-image: url("{% static 'dreamdiary/imgs/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }
    </style>
    
</head>
<body>
    <section class="bg">

        {% include 'partials/header.html' %}
    
        <main>
            <section class="main-section-01">
                <h1>Salve seus sonhos</h1>
                <button class="btn-novo-sonho"><a href="{% url 'novo_sonho' %}">Adicione um sonho aqui</a></button>
            </section>
    
            <section class="main-section-02">
                <div class="container-main-section-02">
                    <div class="calendar">
                        <h2>{{ mes_atual }} {{ ano_atual }}</h2>
                        <div class="days">
                            {% for dia in dias_do_mes %}
                                {% if dia in dias_com_sonho %}
                                    <div class="day has-dream">{{ dia }}</div>
                                {% else %}
                                    <div class="day">{{ dia }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="ultimos-sonhos">
                        <h2>Últimos sonhos</h2>
                        <ul>
                            {% for sonho in ultimos_sonhos %}
                                <li>
                                    <div class="sonho-card">
                                        <p>{{ sonho.date|date:"d/m/Y" }}</p>
                                        <h3>{{ sonho.title }}</h3>
                                        <button>
                                            <a class = "link-sonho" href="{% url 'sonho' sonho.id %}">Ir para o sonho</a>
                                        </button>
                                    </div>
                                </li>
                            {% empty %}
                                <p class="mensagem-sem-sonho">Nenhum sonho registrado ainda.</p>
                            {% endfor %}
                        </ul>
                    </div>
                    
                </div>
            </section>
        </main>
    </section>

    {% include 'partials/footer.html' %}
    
</body>
</html>