{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles_home.css' %}">
    <title>Dream Diary</title>

    <style>
        .bg {
            background-image: url("{% static 'dreamdiary/imgs/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }
    </style>
    
</head>
<body>
    <section class="bg">

        {% include 'partials/header.html' %}
    
        <main>
            <section class="main-section-01">
                <h1>Salve seus sonhos</h1>
                <button class="btn-novo-sonho"><a href="{% url 'novo_sonho' %}">Adicione um sonho aqui</a></button>
            </section>
    
            <section class="main-section-02">
                <div class="container-main-section-02">
                    <div class="calendar">
                        <h2>Fevereiro 2025</h2>
                        <div class="days">
                            <div class="day">1</div>
                            <div class="day">2</div>
                            <div class="day">3</div>
                            <div class="day">4</div>
                            <div class="day">5</div>
                            <div class="day">6</div>
                            <div class="day">7</div>
                            <div class="day">8</div>
                            <div class="day">9</div>
                            <div class="day">10</div>
                            <div class="day">11</div>
                            <div class="day">12</div>
                            <div class="day">13</div>
                            <div class="day">14</div>
                            <div class="day">15</div>
                            <div class="day">16</div>
                            <div class="day">17</div>
                            <div class="day">18</div>
                            <div class="day">19</div>
                            <div class="day">20</div>
                            <div class="day">21</div>
                            <div class="day">22</div>
                            <div class="day">23</div>
                            <div class="day">24</div>
                            <div class="day">25</div>
                            <div class="day">26</div>
                            <div class="day">27</div>
                            <div class="day">28</div>
                        </div>
                    </div>
    
                    <div class="ultimos-sonhos">
                        <h2>últimos sonhos</h2>
                        <ul>
                            <li>
                                <div class="sonho-card">
                                    <P>01/01/2024</P>
                                    <h3>Davi se torna um bom programador</h3>
                                    <button>Ir para o sonho</button>
                                </div>
                            </li>
                            <li>
                                <div class="sonho-card">
                                    <P>01/01/2024</P>
                                    <h3>Ganhei na mega sena</h3>
                                    <button>Ir para o sonho</button>
                                </div>
                            </li>
                            <li>
                                <div class="sonho-card">
                                    <P>01/01/2024</P>
                                    <h3>Um gato falou comigo</h3>
                                    <button>Ir para o sonho</button>
                                </div>
                            </li>
    

                        </ul>

                    </div>
                </div>
            </section>
        </main>
    </section>

    {% include 'partials/footer.html' %}

    <script src="../scripts/script.js"></script>
    
</body>
</html>