{% load static %}



<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles_login.css' %}">
    <title>Dream Diary</title>

    <style>
        .bg {
            background-image: url("{% static 'dreamdiary/imgs/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <section class="bg">
        <section class="container">
            <form>
                <label>
                    <span>Usuário</span>
                    <input type="text">
                </label>
                
                <label>
                    <span>Segredo</span>
                    <input type="password" name="password" id="password">
                </label>
                
                <button id="btn_form"><a href="{% url 'home' %}">LOGIN</a></button>
                <p>Não tem uma conta? <a href="{% url 'cadastro' %}">crie aqui</a></p>
            </form>
        </section>
    </section>

    <script src="../scripts/script.js"></script>
</body>
</html>