{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles_login.css' %}">
    <title>Dream Diary</title>

    <style>
        .bg {
            background-image: url("{% static 'dreamdiary/imgs/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <section class="bg">
        <section class="container">
            <form method="POST">
                {% csrf_token %}  <!-- Proteção contra ataques CSRF -->

                {% if messages %}
                    {% for message in messages %}
                        <p class="message {{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                
                <label>
                    <span>Usuário</span>
                    <input type="text" name="username" required>
                </label>
                
                <label>
                    <span>Senha</span>
                    <input type="password" name="password" required>
                </label>

                <button type="submit">LOGIN</button>

                <p>Não tem uma conta? <a href="{% url 'cadastro' %}">Crie aqui</a></p>
            </form>
     
        </section>
    </section>


</body>
</html>
