{% load static %}



<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles_my_dreams.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="{% static 'dreamdiary/scripts/script.js' %}"></script>
    <title>Dream Diary</title>

    <style>
        .bg {
            background-image: url("{% static 'dreamdiary/imgs/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <section class="bg">
        {% include 'partials/header.html' %}
    
        <main>
            <section class="filtros">
                <h2>Filtros</h2>
                <input type="date">
            </section>

            <h1>Meus sonhos</h1>
            <button class="btn-novo-sonho"><a href="{% url 'novo_sonho' %}">Adicionar um sonho</a></button>

            <ul class="sonhos">
                <li class="sonho">
                    <span class="before">01/01/2024</span>
                    <h2><a href="{% url 'sonho' %}">Davi se tornou um bom progrador</a></h2>
                    <div class="acoes">
                        <button class="btn-acao"><img src="{% static 'dreamdiary/imgs/lixeira.png' %}"></button>
                    </div>
                    <ul class = "after">
                        <li>alegria</li>
                        <li>medo</li>
                        <li>nostalgia</li>
                    </ul>
                </li>

                <li class="sonho">
                    <span class="before">01/01/2024</span>
                    <h2><a href="{% url 'sonho' %}">Davi se tornou um bom progrador</a></h2>
                    <div class="acoes">
                        <button class="btn-acao"><img src="{% static 'dreamdiary/imgs/lixeira.png' %}"></button>
                    </div>
                    <ul class = "after">
                        <li>alegria</li>
                        <li>medo</li>
                        <li>nostalgia</li>
                    </ul>
                </li>
            </ul>
        </main>
    </section>

    {% include 'partials/footer.html' %}


    
</body>
</html>