{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles_my_dreams.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="{% static 'dreamdiary/scripts/script.js' %}"></script>
    <title>Dream Diary</title>

    <style>
        .bg {
            background-image: url("{% static 'dreamdiary/imgs/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <section class="bg">
        {% include 'partials/header.html' %}
    
        <main>
            <section class="filtros">
                <form method="GET" action="{% url 'meus_sonhos' %}">
                    <input type="date" name="data" value="{{ data_filtrada }}">
                    <button type="submit">Filtrar</button>
                </form>
            </section>
            

            <h1>Meus sonhos</h1>
            <button class="btn-novo-sonho"><a href="{% url 'novo_sonho' %}">Adicionar um sonho</a></button>

            <ul class="sonhos">
                {% for sonho in sonhos %}
                    <li class="sonho">
                        <span class="before">{{ sonho.date|date:"d/m/Y" }}</span>
                        <h2><a href="{% url 'sonho' sonho.id %}">{{ sonho.title }}</a></h2> 
                        <div class="acoes">
                            <!-- Formulário de exclusão com método POST -->
                            <form action="{% url 'excluir_sonho' sonho.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn-acao">
                                    <img src="{% static 'dreamdiary/imgs/lixeira.png' %}" alt="Excluir">
                                </button>
                            </form>
                        </div>
                        <ul class="after">
                            {% for dream_emotion in sonho.dream_emotions.all %}
                                <li>{{ dream_emotion.emotion.name }}</li>
                            {% empty %}
                                <li>Sem emoções registradas</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% empty %}
                    <p class="mensagem-sem-sonho">Não existe sonhos cadastrado nesse dia.</p>
                {% endfor %}
            </ul>
            
        </main>
    </section>

    {% include 'partials/footer.html' %}
</body>
</html>
