{% load static %}



<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dreamdiary/css/styles_new_dream.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="{% static 'dreamdiary/scripts/script.js' %}"></script>
    <title>Dream Diary</title>

    <style>
        .bg {
            background-image: url("{% static 'dreamdiary/imgs/background.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <section class="bg">
        {% include 'partials/header.html' %}
        
        <main>
           <h1>Salve seu sonho</h1>

           <form class="form-novo-sonho">
                <label>
                    <span>Título do sonho</span>
                    <input type="text">
                </label>

                <label>
                    <span>Descrição do sonho</span>
                    <textarea></textarea>
                </label>

                <div class="checkbox-emocoes">
                    <h2>Emoções sentidas: </h2>
                    <div class="emocoes-container">
                        
                        <div class="emocoes-boas">
                            {% for emotion in emotions %}
                                {% if "boa" in emotion.category %}
                                    <label class="emocao emocao-boa">
                                        <span>{{ emotion.name }}</span>
                                        <input type="checkbox" name="emotions" value="{{ emotion.id }}">
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                
                        <div class="emocoes-ruins">
                            {% for emotion in emotions %}
                                {% if "ruim" in emotion.category %}
                                    <label class="emocao emocao-ruim">
                                        <span>{{ emotion.name }}</span>
                                        <input type="checkbox" name="emotions" value="{{ emotion.id }}">
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
                

                    
                </div>

                <button class="btn-salvar-sonho">Salvar sonho</button>
            </form>
        </main>
    </section>

    {% include 'partials/footer.html' %}


    
</body>
</html>