
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    gap: 20px;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    color:white;
    align-items: center;

    &::before {
        content: "LOGIN";
        position: absolute;
        top: -10px;
        left: -10px;
        background-color: rgb(5, 126, 156);
        padding: 10px 15px;
        color: white;
        border-radius: 5px;
    }

    & > label {
        display: flex;
        flex-direction: column;
        gap: 10px
    }

    & > label > span {
       font-size: 20px;
    }

    & > label > input {
        padding: 10px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        outline: 1px solid white;
        transition: 0.5s;
    }

    & > label > input:focus {
        padding: 10px;
        background-color: transparent;
        outline: 4px solid white;
        color: white;
        border: 1px solid white;
    }

    & > button {
        padding: 10px 30px;
        align-self: end;
        border-radius: 4px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        font-weight: bold;
        transition: 0.5s;
    }   
    
    & > button:hover {
        background-color: white;
      
    }

    & > button > a {
        color: white;
        font-weight: bold;
        transition: 0.5s;
        text-decoration: none;
    }

    & > button > a:hover {
        color: rgb(5, 126, 156);
        font-weight: bold;
        transition: 0.5s;
    }

    & > p > a {
        color:white;
        transition: 0.5s
    }

    & > p > a:hover {
        color:rgb(5, 126, 156);
    }



 
}


/* Estilizando as mensagens de erro e sucesso */
.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

/* Mensagem de erro no login */
.message.error {
    background-color: #ffcccc;  /* Fundo vermelho claro */
    color: #cc0000;  /* Texto vermelho escuro */
    border: 1px solid #cc0000;
}

/* Mensagem de sucesso */
.message.success {
    background-color: #ccffcc;  /* Fundo verde claro */
    color: #008000;  /* Texto verde escuro */
    border: 1px solid #008000;
}


/* RESPONSIVIDADE */

@media (max-width: 1100px) {

}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
   
}
