/* MAIN */

main {
    max-width: 80%;
    min-height: 90vh;
 
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;

    & > h1 {
        color: white
    }
}

.emocoes {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;

}

.emocao-boa {
    padding: 5px;
    border: 1px solid rgb(5, 126, 156);;
    color: rgb(5, 126, 156);
}

.emocao-ruim {
    padding: 5px;
    border: 1px solid rgb(156, 28, 5);
    color: rgb(156, 28, 5);
}

.descricao-sonho, .interpretacao {
    max-width: 600px;
    min-width: 300px;
    max-height: 300px;
    min-height: 150px;
    padding: 10px;
    font-size: 16px;
    line-height: 24px; /* Distância entre as linhas */
    border: 1px solid #ccc;
    border-radius: 10px;
    background: repeating-linear-gradient(
        white, 
        white 23px, 
        #add8e6 24px
    ); /* Linhas azuis do caderno */
    border-left: 5px solid rgb(5, 126, 156);; /* Margem vermelha do caderno */
    outline: none;
    resize: none;
    color: black;
    overflow-y: auto;
}

.section-interpretacao {
    color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    & > button {
        border: 1px solid white;
        background-color: transparent;
        color: white;

        padding: 10px 20px ;
        transition: 1s;
    }

    & > button:hover {
        border: 1px solid white;
        background-color: white;
        color: rgb(5, 126, 156);

        padding: 10px 20px ;
    }
}

.radio-container {
    display: flex;
    gap: 20px
}


/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: rgb(5, 126, 156);
    color: white;
}

#interpretacao-texto {
    max-width: 600px;
    min-width: 300px;
    max-height: 300px;
    min-height: 150px;
    padding: 20px;
    font-size: 16px;
    line-height: 24px; /* Distância entre as linhas */
    border: 1px solid #ccc;
    border-radius: 10px;
    background: repeating-linear-gradient(
        white, 
        white 23px, 
        #add8e6 24px
    ); /* Linhas azuis do caderno */
    border-left: 5px solid rgb(5, 126, 156);; /* Margem vermelha do caderno */
    outline: none;
    resize: none;
    color: black;
    overflow-y: auto;
}


/* RESPONSIVIDADE */

@media (max-width: 1100px) {

}

@media (max-width: 768px) {
  
    
}

@media (max-width: 480px) {
   
}
